.content_promotion_article_card{
    height: 20em;
    .title_article{
        font-size: $mediumSmall-font;
    }
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        z-index: $three;
    }
    @include more-than(medium){
        height: 25em;
        &::after{
            background: rgba(0,0,0, 0);
        }
    }
}